.menu{
    position: fixed;
    right: 0;
    top: 0;bottom: 0;
    width: 300px;
    background-color:white;
    z-index: 99;
    transform: translateX(100%);
    transition: 0.2s;
    will-change: transform;
    &.active{
        transform: translateX(0)
    }
    &-list{
        height:100%;
        padding:100px 20px 20px;
    }
    &-toggle{
        cursor: pointer;
    }
    &-close{
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        right: 20px;
        top:20px;
    }
    &-item{
        padding-bottom: 20px;
    }
    &-link{
        display: block;
        padding:15px;
        text-transform: capitalize;
        color: $gray;
        border-radius:4px;
        transition: 0.3s;
        &:hover{
            color: white;
            background-color: blue;
        }
    }
    &-phone{
        padding:15px;
        color: $gray;
        a{
            color: inherit;
            font-weight: bold;
        }

    }
}